<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <instrumentation android:name="com.paydaytracker.app.UpgradeSmoke" android:targetPackage="com.paydaytracker.app.debug"/>
  <application>
    <provider android:name="com.paydaytracker.app.BackupTestProvider" android:authorities="com.paydaytracker.backup.tests" android:exported="true" android:grantUriPermissions="true" android:permission="android.permission.MANAGE_DOCUMENTS"/>
    <activity android:name="com.paydaytracker.app.BackupFolderActivity" android:exported="true"/>
  </application>
</manifest>
